@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --very-light-grey: hsl(212, 17%, 20%);
}

body {
  font-family: 'overpass', sans-serif;
  font-size: 15px;
  color: #fff;
  background: var(--very-dark-blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  width: 350px;
  background-color: var(--dark-blue);
  padding: 20px;
  border-radius: 20px;
}
.btn-container button {
  padding: 15px;
  height: 40px;
  background: var(--very-light-grey);
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 5px;
  color: var(--light-grey);
}
.btn-container button:hover {
  background-color: var(--light-grey);
  color: #fff;
}
.btn-container button:active {
  background-color: var(--orange);
  color: #fff;
}

.btn-container {
  margin-bottom: 20px;
}
.card-container {
  padding: 10px;
}
.submit-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 20px;
  background: var(--orange);
  text-transform: uppercase;
}
.submit-btn:hover {
  background: #fff;
  color: var(--orange);
}

.card-header img {
  background: var(--very-light-grey);
  padding: 10px;
  border-radius: 50%;
}
.card-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hide {
  display: none;
}
/* Attrubition */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
